.gameHub {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.buyContainer {
  display: flex;
  gap: 15px;
}

.buyTower {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: white;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.1);
    background-color: rgb(177, 95, 95);
    color: white;
  }

  &.selected {
    background-color: rgb(177, 95, 95);
    color: white;
  }
}
